@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <div class="card-header card=header-info">
        <h4 class="card-title">Register</h4>
        <p class="card-category">Teskey Masuk / Keluar</p>
    </div>
    <div class="card-body">
        <div class="row" style="margin-left:20px">
            <div class="col-md-4">
                <label class="bmd-label-floating">Jenis RTGS</label>
                <br />
                <select required name="Jenis" data-placement="choose" class="form-control select2 Tipe">
                    <option value="">--pilih Tipe--</option>
                </select>
            </div>
            <div class="col-md-4 offset-md-1">
                <label class="control-label" id="lbank">Bank Pengirim</label>
                <select id="BankTujuan" class="form-control bank select2" data-placement="choose">
                    <option value="">--Pilih Bank--</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-left:20px">
            <div class="col-md-4 Cabang">
                <label class="bmd-label-floating">Cabang</label>
                <br />
                <select required id="Cabang" data-placement="choose" class="form-control select2">
                    <option value="">--Pilih Cabang--</option>
                </select>
            </div>
            <div class="col-md-4 offset-md-1">
                <label class="bmd-label-floating">Nomor Surat / Ni / Memo</label>
                <input id="NomorSurat" type="text" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-left:20px">
            <div class="col-md-4 NoReferensi">
                <label class="control-label">REL TRN</label>
                <input id="RelTRN" type="text" class="form-control" />
            </div>
            <div class="col-md-4 offset-md-1">
                <label class="control-label">TRN Pesan Admin</label>
                <input id="TRN" type="text" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-left:20px">
            <div class="col-md-4">
                <label class="bmd-label-floating">Nominal</label>
                <input id="Nominal" type="text" class="form-control number" />
            </div>
            <div class="col-md-4 offset-md-1 Tanggal">
                <label class="bmd-label-floating">Tanggal Proses</label>
                <input id="Tanggal" type="date" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-left:20px">
            <div class="col-md-4 Lampiran">
                <label class="control-label">Lampiran Bukti</label>
                <br />
                <canvas style="border:1px solid grey;" id="Path"></canvas>
            </div>
            <div class="col-md-4 offset-md-1">
                <label class="control-label">No Test Key</label>
                <input id="TestKey" type="text" class="form-control" />
            </div>
        </div>
        <div class="offset-md-8">
            <a class="btn btn-primary text-white" id="Save">Save</a>
            <a class="btn btn-default text-black" href="@Url.Action("Index, Home")" style="margin-left:10px;">Back</a>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            //GetJenis();
            GetBank();
            GetCabang();
            load();
            $(".select2").select2({
                "theme": "classic"
            })
        });

        function load() {
            $.ajax({
                url: "@Url.Action("GetType","RTGS")",
                type: "GET",
                DataType: "json",
                success: function ({ data }) {
                    $.each(data, function (i, value) {
                        $("select[name=Jenis]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            })
        }

        function GetBank() {
            $.ajax({
                url: "@Url.Action("GetBank","Master")",
                type: "GET",
                DataType: "json",
                success: function ({ data }) {
                    $.each(data, function (i, value) {
                        $("select[id=BankTujuan]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            })
        }

        function GetCabang() {
            $.ajax({
                url: "@Url.Action("GetCabang","Master")",
                type: "GET",
                DataType: "json",
                success: function ({ data }) {
                    $.each(data, function (i, value) {
                        $("select[id=Cabang]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            })
        }

        $('#Save').click(function () {
            debugger;
            var isAllValid = true;
            $('#ItemError').text('');
            var canvas = document.getElementById('Path');
            var dataURL = canvas.toDataURL();
            var errorItemCount = 0;
            if (errorItemCount > 0) {
                $('#ItemError').text(errorItemCount + " invalid entry in order item list.");
                isAllValid = false;
            }

            if ($('#Jenis').val() == '') {
                $('#Jenis').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#Jenis').removeClass('is-invalid');
            }
            if ($('#Tanggal').val() == ''){
                $('#Tanggal').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#Tanggal').removeClass('is-invalid');
            }
            if ($('#Cabang').val() == '') {
                $('#Cabang').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#Cabang').removeClass('is-invalid');
            }
            if ($('#NomerSurat').val() == '') {
                $('#NomerSurat').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#NomerSurat').removeClass('is-invalid');
            }
            if ($('#RelTRN').val() == '') {
                $('#RelTRN').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#RelTRN').removeClass('is-invalid');
            }
            if ($('#BankTujuan').val() == '') {
                $('#BankTujuan').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#BankTujuan').removeClass('is-invalid');
            }
            if ($('#Nominal').val() == '') {
                $('#Nominal').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#Nominal').removeClass('is-invalid');
            }
            if ($('#Keterangan').val() == '') {
                $('#Keterangan').addClass('is-invalid');
                isAllValid = false;
            }
            else {
                $('#Keterangan').removeClass('is-invalid');
            }

            if (isAllValid) {
                var data = new Object();
                data.typeId = $('#Jenis').val();
                data.tanggal = $("#Tanggal").val();
                data.cabangId = $("#Cabang").val();
                data.nomerSurat = $("#NomorSurat").val();
                data.relTRN = $("#RelTRN").val();
                data.bankTujuanId = $("#BankTujuan").val();
                data.nominal = minkoma($("#Nominal").val());
                data.keterangan = $("#Keterangan").val();
                data.nomerTestkey = $("#TestKey").val();
                data.path = dataURL;
                data.tRN = $("#TRN").val();

                $.ajax({
                    url: '@Url.Action("Save","MonitoringRTGS")',
                    type: 'Post',
                    dataType: "json",
                    data: data,
                    success: function (data) {
                        if (data == true) {
                            swal.fire('Successfully saved');
                            //here we will clear the form
                            //location.href = "@Url.Action("Index","MemoITR")";
                        }
                        else {
                            alert('Error');
                        }
                    }
                });
            }
        })


        function retrieveImageFromClipboardAsBlob(pasteEvent, callback) { 

            if (pasteEvent.clipboardData == false) {
                if (typeof (callback) == "function") {
                    callback(undefined);
                }
            };
            var items = pasteEvent.clipboardData.items;
            if (items == undefined) {
                if (typeof (callback) == "function") {
                    callback(undefined);
                }
            };
            for (var i = 0; i < items.length; i++) {
                // Skip content if not image
                if (items[i].type.indexOf("image") == -1) continue;
                // Retrieve image on clipboard as blob
                var blob = items[i].getAsFile();
                console.log(blob)
                if (typeof (callback) == "function") {
                    callback(blob);
                }
            }
        }

        window.addEventListener("paste", function (e) { // MEMBACA DAN MENAMPILKAN HASIL PASTE GAMBAR

            // Handle the event
            retrieveImageFromClipboardAsBlob(e, function (imageBlob) {
                // If there's an image, display it in the canvas
                if (imageBlob) {
                    var canvas = document.getElementById("Path");
                    var ctx = canvas.getContext('2d');

                    // Create an image to render the blob on the canvas
                    var img = new Image();

                    // Once the image loads, render the img on the canvas
                    img.onload = function () {
                        canvas.style.width = '100%';
                        canvas.style.height = '100%';
                        // Update dimensions of the canvas with the dimensions of the image
                        canvas.width = this.width;
                        canvas.height = this.height;

                        // Draw the image
                        ctx.drawImage(img, 0, 0);
                    };

                    // Crossbrowser support for URL
                    var URLObj = window.URL || window.webkitURL;

                    // Creates a DOMString containing a URL representing the object given in the parameter
                    // namely the original Blob
                    img.src = URLObj.createObjectURL(imageBlob);
                }
            });
        }, false);
        $(document).on("keyup", ".number", (function (event) {

            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function (index, value) {
                return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                    ;
            });
        }));


        function minkoma(angka) {
            var bil = angka;
            var loop = Math.floor(angka.length / 3);
            for (var i = 0; i < loop; i++) {
                bil = bil.replace(',', '');
            }
            return bil;
        }

    </script>
}