@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="content">
	<div class="container">
		<div class="card" style="background-color:white">
			<div class="card-header card-header-info">
				<h4 class="card-title badge text-light font-weight-bolder" style="background-color:#319DA0">Register</h4>
				<p class="card-text font-weight-bolder">TesKey / Surat</p>
			</div>
			<div class="card-body">
				<div class="row" style="margin-left:20px">
					<div class="col-md-4">
						<input type="hidden" id="regisId" />
						<label class="bmd-label-floating">Tipe Surat</label>
						<br />
						<select required id="tipe" name="tipe" data-placement="choose" class="form-control select2 Tipe">
							<option value="">--- Pilih Tipe Surat ---</option>
						</select>

					</div>
					<div class="col-md-4 offset-md-1">
						<label class="bmd-label-floating">Tanggal Transaksi</label>
						<input id="TanggalTRX" type="date" class="form-control " />
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4 NoReferensi">
						<label class="control-label">Nomor Referensi</label>
						<input id="NoReferensi" type="text" class="form-control" />
					</div>
					<div class="col-md-4 offset-md-1">
						<label class="bmd-label-floating">Divisi / Cabang</label>
						<br />
						<select required Id="Cabang" name="cabang" data-placement="choose" class="form-control select2"></select>
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4">
						<label class="bmd-label-floating">Tanggal Surat</label>
						<input id="TanggalSurat" type="date" class="form-control " />
					</div>
					<div class="col-md-4 offset-md-1">
						<label class="bmd-label-floating">Tanggal TestKey</label>
						<input id="TanggalTK" type="date" class="form-control " />
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4">
						<label class="bmd-label-floating">Nomor Surat</label>
						<input id="NomorSurat" type="text" class="form-control" />
					</div>
					<div class="col-md-4 offset-md-1">
						<label class="control-label">Nomor Teskey</label>
						<input id="NoTeskey" type="text" class="form-control" />
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4 Nama">
						<label class="control-label">Nama</label>
						<input id="Nama" type="text" class="form-control" />
					</div>
					<div class="col-md-4 offset-md-1 NomorRekening">
						<label class="control-label">Nomor Rekening</label>
						<input id="NomorRekening" type="text" class="form-control" />
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4">
						<label class="control-label ">Nominal</label>
						<input id="Nominal" type="text" class="form-control number" />
					</div>
					<div class="col-md-4 offset-md-1 ">
						<label class="control-label ">Nominal Seharusnya</label>
						<input id="Nominal2" type="text" class="form-control number" />
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4 BTujuan">
						<label class="control-label">Bank</label>
						<select required Id="BTujuan" name="banktj" data-placement="choose" class="form-control select2 bank">
							<option value="">--Pilih Bank--</option>
						</select>
					</div>
				</div>
				<div class="row" style="margin-left:20px">
					<div class="col-md-4 Alasan">
						<label class="control-label">Alasan</label>
						<br />
						<select required Id="Alasan" name="Alasan" onchange="AddAlasan();" data-placement="choose" class="form-control select2"></select>
						<div id="Alasan-div">
							<label class="control-label">Alasan Lain</label>
							<br />
							<input id="alasanLain" class="form-control" type="text" />
						</div>
					</div>
					<div class="col-md-4 offset-md-1 Bukti">
						<label class="control-label">Lampiran Bukti</label>
						<br />
						<input type="hidden" id="Path" />
						<input type="file" class="inputFileHidden" id="path" accept=".pdf" id="Upload" style="min-width:100%">
						@*<canvas style="border:1px solid grey;" id="Path"></canvas>*@
					</div>
				</div>
				<div class="offset-md-8">
					<a class="btn btn-primary text-white" id="Save">Save</a>
					<a class="btn btn-primary text-white" href="@Url.Action("Index","Home")" style="margin-left:10px;">Back</a>
				</div>
			</div>
		</div>
	</div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            //GetTypes();
            //GetBank();
            GetAlasan();
            GetCabang();
            GetType();
            GetBank();
            $("#Alasan-div").hide();
            $(".select2").select2({
                "theme": "classic"
            });

            $('input.inputFileHidden').on('change', function (e) {
                const files = e.get(0).files;
                if (files.length > 0) {
                    const file = files[0];
                    $(this).next().text(file.name)
                } else {
                    $(this).next().text("Choose File")
                }
            })
        });

        function GetType() {
            $.ajax({
                url: "@Url.Action("GetType","Kliring")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    //console.log(data);
                    $("select[name=tipe]").empty();
                    $("select[name=tipe]").append('<option value="">-- Pilih Tipe Surat --</option>')
                    $.each(data, function (i, value) {
                        $("select[name=tipe]").append(`<option value="${value.id}">${value.type}</option>`)
                    })
                }
            })
        }

        function GetBank() {
            $.ajax({
                url: "@Url.Action("GetBank","Master")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    console.log(data);
                    $("select[name=banktj]").empty();
                    $("select[name=banktj]").append('<option value="">--Pilih Bank--</option>')
                    $.each(data, function (i, value) {
                        $("select[name=banktj]").append(`<option value="${value.Id}">${value.nama}</option>`)
                    })
                }
            })
        }

		function GetCabang() {
			$.ajax({
				url: "@Url.Action("GetCabang","Master")",
				type: "Get",
				dataType: "json",
				success: function ({ data }) {

					$("select[name= cabang]").empty();
					$("select[name=cabang]").append('<option value="">--Pilih Cabang--</option>')
					$.each(data, function (i, value) {
						$("select[name=cabang]").append(`<option value="${value.id}">${value.nama}</option>`)
					})
				}
			})
		}

        function GetAlasan() {
            $.ajax({
                url: "@Url.Action("GetAlasan", "Master")",
                type: "Get",
                datatype: "json"
            }).then(({ data }) => {
                $("select[name= Alasan]").empty();
                $("select[name=Alasan]").append('<option value="">--Pilih Alasan--</option>');
                $("select[name=Alasan]").append('<option value="">--Alasan Lain').val('custom');
                $.each(data, function (i, value) {
                    $("select[name=Alasan]").append(`<option value="${value.id}">${value.nama}</option>`)
                })
            })
        }
        //function GetAlasan() {
        //    $.ajax({
        //        url: "@Url.Action("GetAlasan", "Master")",
        //        type: "Get",
        //        datatype: "json"
        //    }).then(({ data }) => {
        //        var alasan = $("#Alasan");
        //        alasan.html('');
        //        $("<option></option>").val('').text('---Pilih Alasan---').appendTo(alasan);
        //        $("<option></option>").val('custom').text('Alasan Lain').appendTo(alasan);
        //        $.each(data, function (i, value) {
        //            $("<option></option>").val(value.id).text(value.nama).appendTo(alasan);
        //        });
        //    })
        //}

		function AddAlasan() {
			var Alasan = $("#Alasan").val();
			if (Alasan == 'custom') {
				$("#Alasan-div").show();
			}
			else {
				$("#Alasan-div").hide();
			}
		}

		//Input number only with thousand separator

		$('#Save').click(function () {
			//debugger;
			var isAllValid = true;
			//validate order items
			$('#ItemError').text('');
			var canvas = document.getElementById('Path');
			//var dataURL = canvas.toDataURL();
			var errorItemCount = 0;
			//debugger;
			if (errorItemCount > 0) {
				$('#ItemError').text(errorItemCount + " invalid entry in order item list.");
				isAllValid = false;
			}

			if ($('#NomorSurat').val().trim() == '' && $('#tipe').val() == 2) {
				$('#NomorSurat').addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#NomorSurat').removeClass('is-invalid');
			}

			if ($('#TanggalSurat').val() == '') {
				$("#TanggalSurat").addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$("#TanggalSurat").removeClass('is-invalid');
			}

			if ($('#tipe').val() == '') {
				$("#tipe").addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#tipe').removeClass('is-invalid');
			}
			if ($('#Nama').val() == '') {
				$('#Nama').addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#Nama').removeClass('is-invalid');
			}
			if ($('#NomorRekening').val() == '') {
				$('#NomorRekening').addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#NomorRekening').removeClass('is-invalid');
			}
			if ($('#Nominal').val() == '') {
				$('#Nominal').addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#Nominal').siblings('span.error').css('visibility', 'hidden');
			}

			if ($('#BPengirim').val() == '') {
				$('#BPengirim').addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#BPengirim').siblings('span.error').css('visibility', 'hidden');
			}

			if ($('#BTujuan').val() == '') {
				$('#BTujuan').addClass('is-invalid');
				isAllValid = false;
			}
			else {
				$('#BTujuan').siblings('span.error').css('visibility', 'hidden');
			}

			if ($('#Alasan').val() == '') {
				$('#Alasan').siblings('span.error').css('visibility', 'visible');
				$('.Alasan').addClass('has-error');
				isAllValid = false;
			}
			else {
				$('#Alasan').siblings('span.error').css('visibility', 'hidden');
			}
			if ($('#Cabang').val() == '') {
				$('#Cabang').siblings('span.error').css('visibility', 'visible');
				$('.Cabang').addClass('has-error');
				isAllValid = false;
			}
			else {
				$('#Cabang').siblings('span.error').css('visibility', 'hidden');
			}
			if ($('#NoTeskey').val() == '') {
				$('#NoTeskey').siblings('span.error').css('visibility', 'visible');
				$('.NoTeskey').addClass('has-error');
				isAllValid = false;
			}
			else {
				$('#NoTeskey').siblings('span.error').css('visibility', 'hidden');
			}
			if ($('#TanggalTRX').val() == '') {
				$('#TanggalTRX').siblings('span.error').css('visibility', 'visible');
				$('.TanggalTRX').addClass('has-error');
				isAllValid = false;
			}
			else {
				$('#TanggalTRX').siblings('span.error').css('visibility', 'hidden');
			}
			if ($('#NoReferensi').val() == '') {
				$('#NoReferensi').siblings('span.error').css('visibility', 'visible');
				$('.NoReferensi').addClass('has-error');
				isAllValid = false;
			}
			else {
				$('#NoReferensi').siblings('span.error').css('visibility', 'hidden');
			}

			if (isAllValid) {
				debugger;
				var data = new Object();
				data.NomorSurat = $("#NomorSurat").val();
				data.TanggalSurat = $("#TanggalSurat").val();
				data.TypeId = $("#tipe").val();
				data.NamaPenerima = $("#Nama").val();
				data.NomorRekening = $("#NomorRekening").val();
				data.Nominal = minkoma($("#Nominal").val());
				data.BankId = $("#BTujuan").val();
				data.AlasanId = $("#Alasan").val();
				data.AlasanLain = $("#alasanLain").val();
				data.Path = null;
				data.TanggalTRX = $("#TanggalTRX").val();
				data.TanggalTestKey = $("#TanggalTK").val();
				data.NomorTestKey = $("#NoTeskey").val();
				data.NoReferensi = $("#NoReferensi").val();
				data.CabangId = $("#Cabang").val();
				data.NominalSeharusnya = minkoma ($("#Nominal2").val());
				console.log(data);

				$.ajax({
					url: '@Url.Action("Save","Kliring")',
					type: 'Post',
					dataType: "json",
					data: data,

					success: function (response) {
						Swal.fire({
							icon:"success",
							title:"Berhasil",
							text: "Data Berhasil Di Tambah"
						}).then(function(){
							location.href = '@Url.Action("Proses","Kliring")';
						});;
						
					}, error:(err)=>{
						Swal.fire({
							icon: "error",
							title: "Gagal",
							text: "Data Gagal Di Tambah"
						}).then(function(){
							location.reload();
						});
					}
				});
			
				      }

				$(this).val('Please wait...');

			})

		$(document).on("keyup", ".number", (function (event) {

            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function (index, value) {
                return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                    ;
            });
        }));

        function minkoma(angka) {
            var bil = angka;
            var loop = Math.floor(angka.length / 3);
            for (var i = 0; i < loop; i++) {
                bil = bil.replace(',', '');
            }
            return bil;
        }

        //datetime Picker
        $(function () {
            $('.datepicker').datepicker(
                {
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    onClose: function (dateText, inst) {


                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }

                        if (isDonePressed()) {
                            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');

                            $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                        }
                    },
                    beforeShow: function (input, inst) {

                        inst.dpDiv.addClass('month_year_datepicker')

                        if ((datestr = $(this).val()).length > 0) {
                            year = datestr.substring(datestr.length - 4, datestr.length);
                            month = datestr.substring(0, 2);
                            $(this).datepicker('option', 'defaultDate', new Date(year, month - 1, 1));
                            $(this).datepicker('setDate', new Date(year, month - 1, 1));
                            $(".ui-datepicker-calendar").hide();
                        }
                    }
                })
        });
    </script>
}