@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="content">
    <div class="container">
        <div class="card" style="background-color:white">
            <div class="card-header card-header-info">
                <h4 class="card-title badge text-light font-weight-bolder" style="background-color:#319DA0">Register</h4>
                <p class="card-text font-weight-bolder">TesKey / Surat</p>
            </div>
            <div class="card-body">
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4">
                        <input type="hidden" id="regisId" />
                        <label class="bmd-label-floating">Tipe Surat</label>
                        <br />
                        <select required id="tipe" name="tipe" data-placement="choose" class="form-control select2 Tipe">
                            <option value="">--- Pilih Tipe Surat ---</option>
                        </select>

                    </div>
                    <div class="col-md-4 offset-md-1">
                        <label class="bmd-label-floating">Tanggal Transaksi</label>
                        <input id="TanggalTRX" type="date" name="tanggalTrx" class="form-control " />
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4 NoReferensi">
                        <label class="control-label">Nomor Referensi</label>
                        <input id="NoReferensi" type="text" name="noReferesni" class="form-control" />
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <label class="bmd-label-floating">Divisi / Cabang</label>
                        <br />
                        <select required Id="Cabang" name="cabang" data-placement="choose" class="form-control select2">
                            <option value="">---- Pilih Cabang ----</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4">
                        <label class="bmd-label-floating">Tanggal Surat</label>
                        <input id="TanggalSurat" type="date" name="tanggalSurat" class="form-control " />
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <label class="bmd-label-floating">Tanggal TestKey</label>
                        <input id="TanggalTK" type="date" name="tanggalTestkey" class="form-control " />
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4">
                        <label class="bmd-label-floating">Nomor Surat</label>
                        <input id="NomorSurat" type="text" name="nomorSurat" class="form-control" />
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <label class="control-label">Nomor Teskey</label>
                        <input id="NoTeskey" type="text" name="nomortestkey" class="form-control" />
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4 Nama">
                        <label class="control-label">Nama</label>
                        <input id="Nama" type="text" name="nama" class="form-control" />
                    </div>
                    <div class="col-md-4 offset-md-1 NomorRekening">
                        <label class="control-label">Nomor Rekening</label>
                        <input id="NomorRekening" type="text" name="nomorRekening" class="form-control" />
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4">
                        <label class="control-label ">Nominal</label>
                        <input id="Nominal" type="text" name="nominal" class="form-control number" />
                    </div>
                    <div class="col-md-4 offset-md-1 ">
                        <label class="control-label ">Nominal Seharusnya</label>
                        <input id="Nominal2" type="text" name="nominalSeharusnya" class="form-control number" />
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4 BTujuan">
                        <label class="control-label">Bank</label>
                        <select required Id="BTujuan" name="banktj" data-placement="choose" class="form-control select2 bank">
                            <option value="">--Pilih Bank--</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-left:20px">
                    <div class="col-md-4 Alasan">
                        <label class="control-label">Alasan</label>
                        <br />
                        <select required Id="Alasan" name="Alasan" onchange="AddAlasan();" data-placement="choose" class="form-control select2"></select>
                        <div id="Alasan-div">
                            <label class="control-label">Alasan Lain</label>
                            <br />
                            <input id="alasanLain" name="alasanLain" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-1 Evidence">
                        <label class="control-label" for="Upload">Evidence</label>
                        <br />
                        <input type="hidden" id="Path" />
                        <input type="file" class="inputFileHidden" accept=".pdf" name="file" id="Upload" style="min-width:100%">
                        @*<canvas style="border:1px solid grey;" id="Path"></canvas>*@
                    </div>
                </div>
                <div class="offset-md-8">
                    <a class="btn btn-primary text-white" id="Save" onclick="Save();">Save</a>
                    <a class="btn btn-primary text-white" href="@Url.Action("Index","Home")" style="margin-left:10px;">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            //GetTypes();
            //GetBank();
            GetAlasan();
            GetCabang();
            GetType();
            GetBank();
            $("#Alasan-div").hide();
            $(".select2").select2({
                "theme": "classic"
            });

            $('input.inputFileHidden').on('change', function (e) {
                const files = e.get(0).files;
                if (files.length > 0) {
                    const file = files[0];
                    $(this).next().text(file.name)
                } else {
                    $(this).next().text("Choose File")
                }
            })
        });

        function GetType() {
            $.ajax({
                url: "@Url.Action("GetType","Kliring")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    //console.log(data);
                    $("select[name=tipe]").empty();
                    $("select[name=tipe]").append('<option value="">-- Pilih Tipe Surat --</option>')
                    $.each(data, function (i, value) {
                        $("select[name=tipe]").append(`<option value="${value.id}">${value.type}</option>`)
                    })
                }
            })
        }

        function GetBank() {
            $.ajax({
                url: "@Url.Action("GetBank","Master")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    console.log(data);
                    $("select[name=banktj]").empty();
                    $("select[name=banktj]").append('<option value="">--Pilih Bank--</option>')
                    $.each(data, function (i, value) {
                        $("select[name=banktj]").append(`<option value="${value.Id}">${value.nama}</option>`)
                    })
                }
            })
        }

        //function GetBank() {
        //    $.ajax({
        //        url: "@Url.Action("GetBank", "Master")",
        //        type: "Get",
        //        datatype: "json"
        //    }).then(({ data }) => {
        //        var bank = $("#BTujuan");
        //        bank.html('');
        //        $("<option></option>").val('').text('---Pilih Bank---').appendTo(bank);
        //        $.each(data, function (i, value) {
        //            $("<option></option>").val(value.id).text(value.nama).appendTo(bank);
        //        });
        //    })
        //}

        function GetCabang() {
            $.ajax({
                url: "@Url.Action("GetCabang","Master")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {

                    $("select[name= cabang]").empty();
                    $("select[name=cabang]").append('<option value="">--Pilih Cabang--</option>')
                    $.each(data, function (i, value) {
                        $("select[name=cabang]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            })
        }

        function GetAlasan() {
            $.ajax({
                url: "@Url.Action("GetAlasan", "Master")",
                type: "Get",
                datatype: "json"
            }).then(({ data }) => {
                $("select[name= Alasan]").empty();
                $("select[name=Alasan]").append('<option value="">--Pilih Alasan--</option>');
                $("select[name=Alasan]").append('<option value="">--Alasan Lain').val('custom');
                $.each(data, function (i, value) {
                    $("select[name=Alasan]").append(`<option value="${value.id}">${value.nama}</option>`)
                })
            })
        }
        //function GetAlasan() {
        //    $.ajax({
        //        url: "@Url.Action("GetAlasan", "Master")",
        //        type: "Get",
        //        datatype: "json"
        //    }).then(({ data }) => {
        //        var alasan = $("#Alasan");
        //        alasan.html('');
        //        $("<option></option>").val('').text('---Pilih Alasan---').appendTo(alasan);
        //        $("<option></option>").val('custom').text('Alasan Lain').appendTo(alasan);
        //        $.each(data, function (i, value) {
        //            $("<option></option>").val(value.id).text(value.nama).appendTo(alasan);
        //        });
        //    })
        //}

        function AddAlasan() {
            var Alasan = $("#Alasan").val();
            if (Alasan == 'custom') {
                $("#Alasan-div").show();
            }
            else {
                $("#Alasan-div").hide();
            }
        }

        //function GetAlasan(){
        //    $.ajax({
        //        url: "@Url.Action("GetAlasan","Master")",
        //        type: "Get",
        //        dataType: "json",
        //        success:function({data}){
        //            console.log(data);
        //            $("select[name=Alasan]").empty();
        //            $("select[name=Alasan]").append('<option value="">--Pilih Alasan--</option>')
        //            $.each(data, function(i,value){
        //                $("select[name=Alasan]").append(`<option value="${value.Id}">${value.nama}</option>`)
        //            })
        //        }
        //    })
        //}

        //$('#Upload').change(function () {
        //    debugger;
        //    var formdata = new FormData();
        //    var file = $('#Upload').get(0).files[0];
        //    var noRek = $('#NomorRekening').val();
        //    formdata.append("file", file);

        //    $.ajax({
        //        url: "@Url.Action("PdfCompress","Kliring")?noRek=" + noRek,
        //        type: "POST",
        //        contentType: false,
        //        processData: false,
        //        data: formdata,
        //        success: function (result) {
        //            if (result != null) {
        //                $("#Path").val(result);
        //            } else {
        //                swal.fire(
        //                    'failed',
        //                    'Data sudah ada!',
        //                    'error'
        //                ).then(() => {
        //                    $("#myModal").modal('hide');
        //                    location.reload();
        //                })
        //            }
        //        },
        //        error: function(){
        //            alert("Error");
        //        }
        //    });
        //})

        //$("#Save").click(function(){
        //    var isAllValid = true;
        //    $
        //})

        //async function Save() {
        //   debugger;
        //    var data = new Object();
        //    data.TypeId = $("#tipe").val();
        //    data.TanggalTRX = $("#TanggalTRX").val();
        //    data.NoReferensi = $("#NoReferensi").val();
        //    data.CabangId = $("#Cabang").val();
        //    data.TanggalSurat = $("#TanggalSurat").val();
        //    data.TanggalTestKey = $("#TanggalTK").val();
        //    data.NomorSurat = $("#NomorSurat").val();
        //    data.NomorTestKey = $("#NoTeskey").val();
        //    data.NamaPenerima = $("#Nama").val();
        //    data.NomorRekening = $("#NomorRekening").val();
        //    data.Nominal = $("#Nominal").val();
        //    data.NominalSeharusnya = $("#Nominal2").val();
        //    data.BankId = $("#BTujuan").val();
        //    data.AlasanId = $("#Alasan").val();
        //    data.AlasanId = $("#alasanLain").val();
        //    data.Path = $("#Path").val();
        //    console.log(data);

        //    $.ajax({
        //        url: "@Url.Action("Save","Kliring")",
        //        type: "POST",
        //        contentType: false,
        //        processData: false,
        //        data: data,
        //    }).then((result) => {
        //        if (result != false) {
        //            Swal.fire(
        //                'Success!',
        //                'Data Berhasil Diinput!.',
        //                'success'
        //            ).then(() => {
        //                //$("#myModal").modal('hide');
        //                location.href = "@Url.Action("Proses","Kliring")";
        //            })
        //        }
        //        else {
        //            Swal.fire(
        //                'Failed!',
        //                'Data Tidak Berhasil Diinput!.',
        //                'error'
        //            ).then(() => {
        //                $("#myModal").modal('hide');
        //                $('#table').DataTable().ajax.reload();
        //            })
        //        }
        //    })
        //}

        async function Save() {
            //const iTypeId = $('select[name=tipe]');
            //const iTanggalTrx = $('input[name=tanggalTrx]');
            //const iNoReferensi = $('input[name=noReferensi]');
            //const iCabangId = $('select[name=cabang]');
            //const iTanggalsurat = $('input[name=tanggalSurat]');
            //const iNomorSurat = $('input[name=nomorSurat]');
            //const iNamaPenerima = $('input[name=nama]');
            //const iNomorRekening = $('input[name=nomorRekening]');
            //const iNominal = $('input[name=nominal]');
            //const iNominalSeharusnya = $('input[name=nominalSeharusnya]');
            //const iBankId = $('select[name=banktj]');
            //const iAlasanId = $('select[name=Alasan]');
            //const iAlasanId = $('input[name=alasanLain]');
            const itotal = ('input[name=nomorTestkey]');
            const iNomorTestkey = $('input[name=nomorTestkey]');
            const iTanggalTestKey = $('input[name=tanggalTestkey]');
            const ifiles = $('input[file]').prop('files');

            const formData = {};

            const ArraytestKey = []

            for (let i = 0; i < total; i++) {
                const testkey = {
                    TanggalTestKey = iTanggalTestKey[i].value,
                    Nomortestkey = iNomorTestkey[i].value,
                }
                ArraytestKey.push(testKey);
            }

            formData["TypeId"] = $('select[name=tipe]').val();
            formData["TanggalTrx"] = $('input#TanggalTRX]').val();
            formData["NoReferensi"] = $('input#NoReferensi]').val();
            formData["CabangId"] = $('select[name=cabang').val();
            formData["TanggalSurat"] = $('input#TanggalSurat').val();
            formData["NomorSurat"] = $('input#NomorSurat').val();
            formData["NamaPenerima"] = $('input#Nama').val();
            formData["NomorRekening"] = $('input#NomorRekening').val();
            formData["Nominal"] = $('input#Nominal').val();
            formData["NominalSeharusnya"] = $('input#Nominal2').val();
            formData["BankId"] = $('select[name=banktj]').val();
            formData["AlasanId"] = $('select[name=Alasan]').val();
            formData["AlasanId"] = $('select[name=AlasanLain]').val();
            formData["TestkeyId"] = ArraytestKey;


        }


        //Input number only with thousand separator
        $(document).on("keyup", ".number", (function (event) {

            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function (index, value) {
                return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                    ;
            });
        }));

        function minkoma(angka) {
            var bil = angka;
            var loop = Math.floor(angka.length / 3);
            for (var i = 0; i < loop; i++) {
                bil = bil.replace(',', '');
            }
            return bil;
        }

        //datetime Picker
        $(function () {
            $('.datepicker').datepicker(
                {
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    onClose: function (dateText, inst) {


                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }

                        if (isDonePressed()) {
                            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');

                            $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                        }
                    },
                    beforeShow: function (input, inst) {

                        inst.dpDiv.addClass('month_year_datepicker')

                        if ((datestr = $(this).val()).length > 0) {
                            year = datestr.substring(datestr.length - 4, datestr.length);
                            month = datestr.substring(0, 2);
                            $(this).datepicker('option', 'defaultDate', new Date(year, month - 1, 1));
                            $(this).datepicker('setDate', new Date(year, month - 1, 1));
                            $(".ui-datepicker-calendar").hide();
                        }
                    }
                })
        });
    </script>
}