@{
    ViewBag.Title = "Surat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Input Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <input id="suratId" type="hidden" />
                        <div class="form-group">
                            <label for="rekeningDebet">Kepada</label>
                            <input type="text" class="form-control" name="kepada" id="kepada">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="rekeningDebet">Dari</label>
                            <input type="text" class="form-control" name="dari" id="dari">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="rekeningDebet">Hal</label>
                            <input type="text" class="form-control" name="hal" id="hal">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="rekeningDebet">Lampiran</label>
                            <input type="text" class="form-control" name="lampiran" id="lampiran">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nomorRefrensi">Nomor Surat</label>
                            <input type="text" class="form-control" name="nosurat" id="nosurat">
                        </div>
                    </div>
                    @*<div class="col-sm-6">
                        <div class="form-group">
                            <label for="nomorRefrensi">SOR</label>
                            <input type="text" class="form-control" name="sor1" id="sor1">
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="save();"><i class="fas fa-print"></i> Cetak</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Input Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input id="suratId" type="hidden" />
                        <div class="form-group">
                            <label for="rekeningDebet">Kepada</label>
                            <input type="text" class="form-control" name="kepadas" id="kepadas">
                        </div>
                    </div>
                   @* <div class="col-sm-6">
                        <div class="form-group">
                            <label for="rekeningDebet">SOR</label>
                            <input type="text" class="form-control" name="sor2" id="sor2">
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="saves();"><i class="fas fa-print"></i> Cetak</button>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container">
        <div class="card" style="background-color:white">
            <div class="card-header card-header-info" style="background-color:#006699">

                <h2 class="card-title font-weight-bolder" style="color:#FF6600; text-shadow: 0 0 3px #FF0000">Surat</h2>

            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col">
                        <label for="nomorRefrensi">Tipe</label>
                        <select name="tipe" id="tipe" data-placement="choose" class="form-control select" disabled readonly></select>
                    </div>
                    <div class="col">
                        <label for="nomorRefrensi">Jenis</label>
                        <select data-placement="choose" name="jenis" id="jenis" class="form-control select">
                            <option value="">--Pilih Jenis Surat--</option>
                        </select>
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-warning float-right" onclick="getModal();"><i class="fas fa-envelope-open-text"></i> Buat Surat</button>
                @*<button type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal2" data-dismiss="modal"><i class="fas fa-book"></i> Buat Memo</button>*@

            </div>
        </div>
        <div class="card mt-2 shadow  rounded" id="hisurat">
            <div class="card-header card-header-info">
                <h2 class="card-title font-weight-bolder" style="color:#FF6600;"> Histori Surat</h2>
            </div>
            <div class="card-body" id="tab1">

                <table id="table" class="table display nowrap table-hover  table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Jenis Surat</th>
                            <th>Tujuan Surat</th>
                            <th>Asal Surat</th>
                            <th>Perihal</th>
                            <th>Lampiran</th>
                            @*<th>SOR</th>*@
                            <th>Aksi</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body" id="tab2">
                
                    <table id="table2" class="table display nowrap table-hover table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Jenis Surat</th>
                                <th>Kepada</th>
                                @*<th>SOR</th>*@
                                <th>Aksi</th>
                            </tr>
                        </thead>
                    </table>

              
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var paths = location.pathname.split("/")
        var getid = paths[paths.length - 1]
        var sId = getid
        $(document).ready(function () {
            GetTypes();
            GetType();
            getTab();

            $("#tab1").hide();
            $("#tab2").hide();


        });

        function GetType() {
            $.ajax({
                url: "@Url.Action("GetType","Kliring")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    $("select[name=tipe]").append('<option value="">Pilih Tipe Surat</option>')
                    $.each(data, function (i, value) {
                        $("select[name=tipe]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            })
        }

        function GetTypes() {
            debugger;
            var Id = sId;

            $.ajax({
                "url": "@Url.Action("GetById","Kliring")",
                "type": "GET",
                "datatype": "json",
                "data": { Id: Id }
            }).then((result) => {
                if (result != null) {
                    console.table(result);
                    //$("#suratId").val(result.data.id).change();
                    $("#tipe").val(result.data.typeId).change();


                }
            })
        }

        $("select[name=tipe]").on("change", function () {
            $.ajax({
                url: "@Url.Action("GetJenisSurat","Master")/" + $(this).val(),
                type: "get",
                dataType: "Json",
                success: function ({ data }) {
                    $("select[name=jenis]").empty();
                    $("select[name=jenis]").append('<option value="">--Pilih Jenis Surat--</option>');
                    $.each(data, function (i, value) {
                        $("select[name=jenis]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            });
        })

        $("#jenis").change(function () {
            debugger;
            var Id = $("#jenis").val();
            if (Id == 1 || Id == 2) {
                $("#tab1").show();
                getTab(Id)
            } else if (Id == 3) {
                $("#tab2").show();
                getTab(Id);
            }
        })

        function getTab(Id) {
            debugger;

            //console.log(jenId);
            if (Id == 1 || Id == 2) {
                var h = $("#table").DataTable({
                    ajax: {
                        url: "@Url.Action("getHisSurat","Kliring")",
                        type: "GET",
                        dataType: "json",
                        data: { Id: Id }
                    },
                    destroy: true,
                    columns: [
                        {
                            render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1
                        },
                        {
                            "data": "surat.jenisSurat.nama"
                        },
                        {
                            "data": "surat.tujuanSurat"
                        },
                        {
                            "data": "surat.asalSurat"
                        },
                        {
                            "data": "surat.perihal"
                        },
                        {
                            "data": "surat.lampiran"
                        },
                        //{
                        //    "data": "surat.sor"
                        //},
                        {
                            render: (data, type, row, meta) => {
                                if (Id == 1) {
                                    return "<a href='@Url.Action("TemplateSuratMasuk","Kliring")/" + row.id + "' class='btn btn-success btn-sm text-white' style='display:inline;' title='Download Surat' ><i class='fas fa-file-download'></i></a> ";
                                }else if(Id ==2){
                                    return "<a href='@Url.Action("MemoMasuk","Kliring")/" + row.id + "' class='btn btn-success btn-sm text-white' style='display:inline;' title='Download Surat' ><i class='fas fa-file-download'></i></a> ";

                                }
                            }
                        }
                    ]
                });
            }else if(Id == 3){
                var h = $("#table2").DataTable({
                    ajax: {
                        url: "@Url.Action("getHisSurat","Kliring")",
                        type: "GET",
                        dataType: "json",
                        data: { Id: Id }
                    },
                    destroy: true,
                    columns: [
                        {
                            render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1
                        },
                        {
                            "data": "surat.jenisSurat.nama"
                        },
                        {
                            "data": "surat.tujuanSurat"
                        },                      
                        //{
                        //    "data": "surat.sor"
                        //},
                        {
                            render: (data, type, row, meta) => {
                                return "<a href='@Url.Action("TemplateSuratKeluar","Kliring")/" + row.id + "' class='btn btn-success btn-sm text-white' style='display:inline;' title='Download Surat' ><i class='fas fa-file-download'></i></a> ";

                            }
                        }
                    ]
                })
            }
        }

        function getModal() {
            debugger;
            var jenisId = $("#jenis").val();

            if (jenisId == 1 || jenisId == 2) {
                $("#myModal").modal('show');
            }
            else if (jenisId == 3) {
                $("#myModal2").modal('show');
            } else {
                alert('Anda Belum memilih Jenis Surat');
            }
        }

        function save() {
            debugger;
            var isAllValid = true;
            var kepada = $("#kepadar").val();
            var dari = $("#daris").val();
            $("#ItemError").text('');
            var errorItemCount = 0;
            if (errorItemCount > 0) {
                $('#ItemError').text(errorItemCount + " Data Tidak Boleh Kosong!");
                isAllValid = false;
            }
            if ($('#kepada').val() == '') {
                $('#kepada').addClass('is-invalid');
                isAllValid = false;
            } else {
                $('#kepada').removeClass('is-invalid');
            } if ($('#dari').val() == '') {
                $('#dari').addClass('is-invalid');
                isAllValid = false;
            } else {
                $('#dari').removeClass('is-invalid');
            } if ($('#hal').val() == '') {
                $('#hal').addClass('is-invalid');
                isAllValid = false;
            } else {
                $('#hal').removeClass('is-invalid');
            } if ($('#lampiran').val() == '') {
                $('#lampiran').addClass('is-invalid');
                isAllValid = false;
            } else {
                $('#lampiran').removeClass('is-invalid');
            }
            if (isAllValid) {
                debugger;
                var data = new Object();
                data.sId = getid;
                data.JenisId = $("#jenis").val();
                data.TujuanSurat = $("#kepada").val();
                data.AsalSurat = $("#dari").val();
                data.Perihal = $("#hal").val();
                data.Lampiran = $("#lampiran").val();
                data.NomorSurat = $("#nosurat").val();
                //data.Sor = $("#sor1").val();


                $.ajax({
                    url: "@Url.Action("SaveSurat","Kliring")",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: (response) => {
                        Swal.fire({
                            icon: 'success',
                            title: 'Doned',
                            text: 'Berhasil Diselesaikan!'
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: (err) => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: 'Tidak Berhasil Diselesaikan!'
                        });
                        //.then(() => {
                        //    location.reload();
                        //});
                    }
                })

            }

        }
        function saves() {
            debugger;
            var isAllValid = true;
            var kepada = $("#kepadas").val();
            var dari = $("#daris").val();
            $("#ItemError").text('');
            var errorItemCount = 0;
            if (errorItemCount > 0) {
                $('#ItemError').text(errorItemCount + " Data Tidak Boleh Kosong!");
                isAllValid = false;
            }
            if ($('#kepadas').val() == '') {
                $('#kepadas').addClass('is-invalid');
                isAllValid = false;
            } else {
                $('#kepadas').removeClass('is-invalid');
            }

            if (isAllValid) {
                debugger;
                var data = new Object();
                data.sId = getid;
                data.JenisId = $("#jenis").val();
                data.TujuanSurat = $("#kepadas").val();
                //data.Sor = $("#sor2").val();


                $.ajax({
                    url: "@Url.Action("SaveSurat","Kliring")",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: (response) => {
                        Swal.fire({
                            icon: 'success',
                            title: 'Doned',
                            text: 'Berhasil Diselesaikan!'
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: (err) => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: 'Tidak Berhasil Diselesaikan!'
                        });
                        //.then(() => {
                        //    location.reload();
                        //});
                    }
                })

            }

        }
    </script>
}