@using Microsoft.EntityFrameworkCore
@using Ririn.Models.Master
@using Ririn.Data
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject AppDbContext context
@{
    ViewData["Title"] = "Home Page";
}

@{
    var data = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

@inject UserManager<User> UserManager
@inject AppDbContext _context
@inject RoleManager<IdentityRole> _RoleManager

@{
    var user = _context.User.Include(x => x.Kelompok).Include(x => x.Unit).Where(x => x.UserName == User.Identity!.Name).FirstOrDefault();
    var roles = UserManager.GetRolesAsync(user).Result;
    var isAdmin = User.IsInRole("Admin");
    var allRoles = _context.User.Select(x => x.Nama).ToList();
    //var isApprover = roles.Contains();

}

<section class="content">
    <div id="sound"></div>
    @*<input type="hidden" value="@user.UnitId" id="userId"/>*@
    <input type="hidden" id="uId" value="@user.UnitId" />
    <div class="container">
        <div class="row">
            @if (user.Unit.Nama == "Super Admin" || user.Unit.Nama == "Admin")
            {
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#006699">
                            <h3 class="card-title font-weight-bold" style="color:#FF6600; text-shadow: 0 0 3px #FF0000">Durasi(HK) Retur Kliring</h3>
                            <p class="card-text font-weight-bold" style="color:#F4CC70; text-shadow: 0 0 3px #FF0000">Surat Masuk</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#006699">
                            <h3 class="card-title font-weight-bold" style="color:#FF6600; text-shadow: 0 0 3px #FF0000">Durasi(HK) Retur Kliring</h3>
                            <p class="card-text font-weight-bold" style="color:#F4CC70; text-shadow: 0 0 3px #FF0000">Surat Keluar</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#FF6600">
                            <h3 class="card-title font-weight-bolder" style="color:#006699; text-shadow: 0 0 5px #F5b590">Durasi(HK) RTGS</h3>
                            <p class="card-text font-weight-bolder" style="color:#ffe0cc;">Surat Masuk</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#FF6600">
                            <h3 class="card-title font-weight-bolder" style="color:#006699; text-shadow: 0 0 5px #F5b590">Durasi(HK) RTGS</h3>
                            <p class="card-text font-weight-bolder" style="color:#ffe0cc;">Surat Keluar</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            }
            else if (user.Unit.Nama == "Kliring")
            {
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#006699">
                            <h3 class="card-title font-weight-bold" style="color:#FF6600; text-shadow: 0 0 3px #FF0000">Durasi(HK) Retur Kliring</h3>
                            <p class="card-text font-weight-bold" style="color:#F4CC70; text-shadow: 0 0 3px #FF0000">Surat Masuk</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#006699">
                            <h3 class="card-title font-weight-bold" style="color:#FF6600; text-shadow: 0 0 3px #FF0000">Durasi(HK) Retur Kliring</h3>
                            <p class="card-text font-weight-bold" style="color:#F4CC70; text-shadow: 0 0 3px #FF0000">Surat Keluar</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            }
            else if (user.Unit.Nama == "RTGS")
            {
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#FF6600">
                            <h3 class="card-title font-weight-bolder" style="color:#006699; text-shadow: 0 0 5px #F5b590">Durasi(HK) RTGS</h3>
                            <p class="card-text font-weight-bolder" style="color:#ffe0cc;">Surat Masuk</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4 offset-md-1">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header card-header-info" style="background-color:#FF6600">
                            <h3 class="card-title font-weight-bolder" style="color:#006699; text-shadow: 0 0 5px #F5b590">Durasi(HK) RTGS</h3>
                            <p class="card-text font-weight-bolder" style="color:#ffe0cc;">Surat Keluar</p>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            }

        </div>
    </div>
</section>

<script>
    const synth = window.speechSynthesis;
    $(document).ready(function () {
        getDataChart();
        getDataChartRTGS();

        const voice = synth.getVoices();
        LoadNotif(voice);



    });
    function getDataChart() {
        $.ajax({
            url: "@Url.Action("Donat","Home")",
            type: "get",
            dataType: "json",
            success: (result) => {
                console.log(result);
    @*var rk = [result.rtgsKeluarCepat, result.rtgsKeluarLambat];
                    var rm = [result.rtgsMasukCepat, result.rtgsMasukLambat];*@
                                                var kk = [result.kliringKeluarCepat, result.kliringKeluarLambat];
                var km = [result.kliringMasukCepat, result.kliringMasukLambat];


                getChartkk(kk);
                getChartkm(km);
    @* getChartrk(rk);
                    getChartrm(rm);
                    *@
                                            }
        });
    } function getDataChartRTGS() {
        $.ajax({
            url: "@Url.Action("Donat","Home")",
            type: "get",
            dataType: "json",
            success: (result) => {
                console.log(result);
                var rk = [result.rtgsKeluarCepat, result.rtgsKeluarLambat];
                var rm = [result.rtgsMasukCepat, result.rtgsMasukLambat];
    @*var kk = [result.kliringKeluarCepat, result.kliringKeluarLambat];
                    var km = [result.kliringMasukCepat, result.kliringMasukLambat];
                    *@

    @* getChartkk(kk);
                    getChartkm(km);*@
                    getChartrk(rk);
                getChartrm(rm);

            }
        });
    }

    function getChartrk(rk) {
        var donutChartCanvas2 = $('#donutChart2').get(0).getContext('2d')
        var donutData2 = {
            labels: [
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: rk,
                    backgroundColor: ['#4cc93e', '#d60202'],
                }
            ]
        }
        var donutOptions2 = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas2, {
            type: 'doughnut',
            data: donutData2,
            options: donutOptions2
        })
    }

    function getChartrm(rm) {
        var donutChartCanvas3 = $('#donutChart3').get(0).getContext('2d')
        var donutData3 = {
            labels: [
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: rm,
                    backgroundColor: ['#4cc93e', '#d60202'],
                }
            ]
        }
        var donutOptions3 = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas3, {
            type: 'doughnut',
            data: donutData3,
            options: donutOptions3
        })
    }

    function getChartkk(kk) {
        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: kk,
                    backgroundColor: ['#4cc93e', '#d60202'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })
    }

    function getChartkm(km) {
        console.log(km);
        var donutChartCanvas1 = $('#donutChart1').get(0).getContext('2d')
        var donutData1 = {
            labels: [
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: km,
                    backgroundColor: ['#4cc93e', '#d60202'],
                }
            ]
        }
        var donutOptions1 = {
            maintainAspectRatio: false,
            responsive: true,
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        let datasets = context.chart.data.datasets;
                        return value > 0 ? value : null;
                    },
                    color: '#fff',
                    font: {
                        size: 20
                    }
                }
            }
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas1, {
            type: 'doughnut',
            data: donutData1,
            options: donutOptions1
        })
    }

    function LoadNotif(voices) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Notif","Home")",
            dataType: "JSON",
            success: function (result) {
                debugger;
                const suaraIndo = voices.filter(x => x.lang === 'id-ID')[0];
                var useriD = $("#uId").val();
                if (useriD == 1) {

                    if (result.hariHk != 0) {

                        Swal.fire({
                            title: result.hariHk + ' ' + result.messageHariHk,
                            imageUrl: '@Url.Content("~/img/swalproses.png")',
                            imageWidth: 150,
                            imageHeight: 150,
                            imageAlt: 'Custom image',
                            width: 300,
                            padding: '0',
                            color: '#716add',
                            background: '#fff',
                            customClass: {
                                popup: 'border-swal'
                            },
                            didOpen: function () {
                                const tts = new SpeechSynthesisUtterance(result.hariHk + " " + result.messageHariHk);
                                tts.voice = suaraIndo;
                                tts.pitch = 0.92;
                                tts.rate = 0.95;
                                synth.speak(tts);
                            }
                        });
                    }
                } else if (useriD == 2) {
                    if (result.hariHr != 0) {

                        Swal.fire({
                            title: result.hariHr + ' ' + result.messageHariHr,
                            imageUrl: '@Url.Content("~/img/swalproses.png")',
                            imageWidth: 150,
                            imageHeight: 150,
                            imageAlt: 'Custom image',
                            width: 300,
                            padding: '2em',
                            color: '#716add',
                            background: '#fff',
                            customClass: {
                                popup: 'border-swal'
                            },
                            didOpen: function () {
                                const tts = new SpeechSynthesisUtterance(result.hariHr + " " + result.messageHariHr);
                                tts.voice = suaraIndo;
                                tts.pitch = 0.92;
                                tts.rate = 0.95;
                                synth.speak(tts);
                            }
                        });
                    }
                } else if (useriD == 3) {
                    if (result.hariHk != 0 && result.hariHr != 0) {

                        Swal.fire({
                            title: result.hariHk + ' Transaksi Kliring dan ' + result.hariHr + ' Transaksi RTGS Perlu Segera Diproses!',
                            imageUrl: '@Url.Content("~/img/swalproses.png")',
                            imageWidth: 150,
                            imageHeight: 150,
                            imageAlt: 'Custom image',
                            width: 300,
                            padding: '0',
                            color: '#716add',
                            background: '#fff',
                            customClass: {
                                popup: 'border-swal'
                            },
                            didOpen: function () {
                                const tts = new SpeechSynthesisUtterance(result.hariHk + " Transaksi Kliring dan " + result.hariHr + " Transaksi RTGS Perlu Segera Diproses!");
                                tts.voice = suaraIndo;
                                tts.pitch = 0.92;
                                tts.rate = 0.95;
                                synth.speak(tts);
                            }
                        });
                    } else if (result.hariHk != 0) {
                        Swal.fire({
                            title: result.hariHk + ' ' + result.messageHariHk,
                            imageUrl: '@Url.Content("~/img/swalproses.png")',
                            imageWidth: 150,
                            imageHeight: 150,
                            imageAlt: 'Custom image',
                            width: 300,
                            padding: '2em',
                            color: '#716add',
                            background: '#fff',
                            customClass: {
                                popup: 'border-swal'
                            },
                            didOpen: function () {
                                const tts = new SpeechSynthesisUtterance(result.hariHr + " " + result.messageHariHr);
                                tts.voice = suaraIndo;
                                tts.pitch = 0.92;
                                tts.rate = 0.95;
                                synth.speak(tts);
                            }
                        });
                    }
                    else if (result.hariHr != 0) {
                        Swal.fire({
                            title: result.hariHr + ' ' + result.messageHariHr,
                            imageUrl: '@Url.Content("~/img/swalproses.png")',
                            imageWidth: 150,
                            imageHeight: 150,
                            imageAlt: 'Custom image',
                            width: 300,
                            padding: '2em',
                            color: '#716add',
                            background: '#fff',
                            customClass: {
                                popup: 'border-swal'
                            },
                            didOpen: function () {
                                const tts = new SpeechSynthesisUtterance("memiliki" + result.hariHr + " " + result.messageHariHr);
                                tts.voice = suaraIndo;
                                tts.pitch = 0.92;
                                tts.rate = 0.95;
                                synth.speak(tts);
                            }
                        });
                    }

                    
                }

            }
        })
    }
</script>
