@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Nama</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Nama" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">NPP</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NPP" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Kelompok</label>
                        <div class="col-sm-6">
                            <select id="kelompok" name="kelompok" data-placement="choose" class="form-control select2">
                                <option value="">--Kelompok--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Unit</label>
                        <div class="col-sm-6">
                            <select id="unit" name="unit" data-placement="choose" class="form-control select2 Tipe">
                                <option value="">--Unit--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="Save" onclick="Validation();">Simpan</button>
                <button type="button" class="btn btn-primary" id="Update" onclick="Validation();">Perbarui</button>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="card" style="background-color:white">
            <div class="card-header card-header-info" style="background-color:#319DA0">
                <h3 class="card-title font-weight-bold">User Management</h3>
                <a class="btn btn-danger float-right" data-toggle="modal" data-target="#myModal" onclick="ClearScreen()" data-backdrop="static" data-keyboard="false" ;><i class="fa fa-plus"></i></a>
            </div>
            <div class="card-body">
                <table id="table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>NPP</th>
                            <th>Unit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        read();
    });

    function read() {
        var t = $("#table").DataTable({
            "ajax": {
                "url": "@Url.Action("GetList","Account")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": null },
                { "data": "Nama" },
                { "data": "NPP" },
                { "data": "Role" },
                {
                    "render": function(data, type, row) {
                        return "<button class='btn btn-warning btn-sm text-white' onclick = GetById('" + row.id + "');><i class='fas fa-edit'></i></button> " +
                            "<button class='btn btn-danger btn-sm text-white' onclick = Delete('" + row.id + "');><i class='fa fa-trash'></i></button>";
                    },

                },
            ]
        })
        t.on('order.dt search.dt', function() {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        $.ajax({
            url:"@Url.Action("GetAllKelompok","Master")",
            type:"get",
            dataType:"json",
            success:function({data}){
                $.each(data, function(i, kel){
                    $("select[name=kelompok]").append(`<option value="${kel.Id}">${kel.nama}</option> `)
                })
            }
        })
    }
    $("select[name=kelompok]").on("change", function() {
        
        $.ajax({
            url: "@Url.Action("GetUnitBy","Master")/"+$(this).val(),
            type:"get",
            dataType:"json",
            success:function({data}){
                $("select[name=unit]").empty();
                $("select[name=unit]").append(`<option value="">--Unit--</option>`)
                $.each(data, function(i,Unit){
                    $("select[name=unit]").append(`<option value="${Unit.Id}">${Unit.nama}</option>`)
                })
            }
        });
    });
    function Save() {
        console.log(data);
        debugger;
        var data = new Object();
        data.Nama = $("#Nama").val();
        data.NPP = $("#NPP").val();
        data.UnitId = $("#Role").val();
        data.KelompokId = $("#Kelompok").val();
        $.ajax({
            "url": "@Url.Action("Save","Account")",
            "type": "POST",
            "datatype": "json",
            "data": data
        }).then((result) => {
            if (result != false) {
                Swal.fire(
                    'Success!',
                    'Data Berhasil Diinput!.',
                    'success'
                ).then(() => {
                    $("#myModal").modal('hide');
                    $('#table').DataTable().ajax.reload();
                })
            }
            else {
                Swal.fire(
                    'Failed!',
                    'Data Tidak Berhasil Diinput!.',
                    'Failed'
                ).then(() => {
                    $("#myModal").modal('hide');
                    $('#table').DataTable().ajax.reload();
                })
            }
        })
    }
    function Edit() {

        console.log(data);
        var data = new Object();
        //data.id = $("#UserId").val();
        data.Nama = $("#Nama").val();
        data.NPP = $("#NPP").val();
        data.UnitId = $("#Role").val();
        data.KelompokId = $("#Kelompok").val();
        $.ajax({
            "url": "@Url.Action("Save","Account")",
            "type": "POST",
            "datatype": "json",
            "data": data
        }).then((result) => {
            if (result != false) {
                Swal.fire(
                    'Success!',
                    'Data Berhasil Diinput!.',
                    'success'
                ).then(() => {
                    $("#myModal").modal('hide');
                    $('#table').DataTable().ajax.reload();
                })
            }
            else {
                Swal.fire(
                    'Failed!',
                    'Data Tidak Berhasil Diinput!.',
                    'Failed'
                ).then(() => {
                    $("#myModal").modal('hide');
                    $('#table').DataTable().ajax.reload();
                })
            }
        })
    }
    function ClearScreen() {
        $("#UserId").val('');
        $("#Nama").val('');
        $("#NPP").val('');
        $("#Role").val('Admin').change;
        $("#Update").hide();
        $("#Save").show();
    }
    function Validation() {
        if ($("#Nama").val() == "" || $("#Nama").val() == " ") {
            Swal.fire('mohon isi field nama');
        }
        else if ($("#UserId").val() == "" || $("#UserId").val() == " ") {
            Save();
        }
        else {
            Edit($("#UserId").val());
        }
    }
</script>
