@using Ririn.Models.Master;
@using Ririn.Data;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using Ririn.ViewModels

@inject AppDbContext context

@inject UserManager<User> UserManager
@inject AppDbContext _context

@{
    var user = _context.User.Include(x => x.Kelompok).Include(x => x.Unit).Where(x => x.UserName == User.Identity!.Name).FirstOrDefault();

    var durasiKliring = _context.T_Kliring.Where(x => x.StatusId == 1).ToList();
    var hk = durasiKliring.Select(x => x.Durasi).ToList();
    var durasiRTGS = _context.T_RTGS.Where(x => x.StatusId == 1).ToList();
    var hr = durasiRTGS.Select(x => x.Durasi).ToList();

    var m = new ReminderVM();


    //    if (user.Unit.Nama == "Kliring")
    //    {

    //        foreach (var harihk in hk)
    //        {

    //            if (harihk >= 5)
    //            {

    //                m.Hplus1k += 1;

    //            }
    //            else
    //            {

    //                m.Hplus1k = 0;
    //                //kl = harihk;
    //            }
    //            m.MessageHplus1k = " Data Kliring yang belum di proses dengan durasi lebih dari 5 Hari";
    //        }
    //    }
    //    else if(user.Unit.Nama == "RTGS")
    //    {

    //        foreach (var harihr in hr)
    //        {
    //            if (harihr >= 5)
    //            {
    //                m.Hplus1r += 1;
    //                //kr = harihr;
    //            }
    //            else
    //            {
    //                m.Hplus1r = 0;
    //                //kr = harihr;
    //            }
    //            m.MessageHplus1r = " Data RTGS yang belum di proses dalam waktu lebih dari 5 Hari";
    //        }
    //    }
    //}
    foreach (var harihk in hk)
    {

        if (harihk >= 5)
        {

            m.Hplus1k += 1;

        }
        else
        {

            m.Hplus1k = 0;
            //kl = harihk;
        }
        m.MessageHplus1k = " Data Kliring yang belum di proses dengan durasi lebih dari 5 Hari";
    }

    foreach (var harihr in hr)
    {
        if (harihr >= 5)
        {
            m.Hplus1r += 1;
            //kr = harihr;
        }
        else
        {
            m.Hplus1r = 0;
            //kr = harihr;
        }
        m.MessageHplus1r = " Data RTGS yang belum di proses dalam waktu lebih dari 5 Hari";
    }
}

<nav style="position:sticky; top:0;" class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a data-widget="pushmenu" role="button" href="#" class="nav-link">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>
    @if (user.Unit.Nama == "Kliring")
    {
        <ul style="flex:auto; flex-grow:1;" class="navbar-nav">
            <li style="flex:1; " class="nav-item">
                <marquee class="animate-marquee text-light" style="margin: 0 auto;display-block;font-weight: 700;border-radius:30px;"
                     behavior="scroll" width="100%" direction="right" scrollamount="12">
                    @DateTime.Now.ToString("dddd, dd MMMM yyyy",new System.Globalization.CultureInfo("id-ID")) -
                    <strong>
                        <font color="white">Anda Memiliki <b>@m.Hplus1k</b> @m.MessageHplus1k</font>
                    </strong>
                </marquee>
            </li>
        </ul>
    }
    else if (user.Unit.Nama == "RTGS")
    {
        <ul style="flex:auto; flex-grow:1;" class="navbar-nav">
            <li style="flex:1; " class="nav-item">
                <marquee class="animate-marquee text-light" style="margin: 0 auto;display-block;font-weight: 700;border-radius:30px;"
                     behavior="scroll" width="100%" direction="right" scrollamount="12">
                    @DateTime.Now.ToString("dddd, dd MMMM yyyy",new System.Globalization.CultureInfo("id-ID")) -
                    <strong>
                        <font color="white">Anda Memiliki @m.Hplus1r @m.MessageHplus1r</font>
                    </strong>
                </marquee>
            </li>
        </ul>
    }
    else
    {

        if (m.Hplus1k != 0 && m.Hplus1r != 0)
        {
            <ul style="flex:auto; flex-grow:1;" class="navbar-nav">
                <li style="flex:1; " class="nav-item">
                    <marquee class="animate-marquee text-light" style="margin: 0 auto;display-block;font-weight: 700;border-radius:30px;"
                     behavior="scroll" width="100%" direction="right" scrollamount="12">
                        @DateTime.Now.ToString("dddd, dd MMMM yyyy",new System.Globalization.CultureInfo("id-ID")) -
                        <strong>
                            <font color="white">Anda Memiliki <b>@m.Hplus1k</b> data Kliring dan  <b>@m.Hplus1r</b> data RTGS yang belum Diproses dengan durasi lebih dari 5 hari</font>
                        </strong>
                    </marquee>
                </li>
            </ul>
        }
        else if (m.Hplus1r != 0)
        {
      
            <ul style="flex:auto; flex-grow:1;" class="navbar-nav">
                <li style="flex:1; " class="nav-item">
                    <marquee class="animate-marquee text-light" style="margin: 0 auto;display-block;font-weight: 700;border-radius:30px;"
                     behavior="scroll" width="100%" direction="right" scrollamount="12">
                        @DateTime.Now.ToString("dddd, dd MMMM yyyy",new System.Globalization.CultureInfo("id-ID")) -
                        <strong>
                            <font color="white">Anda Memiliki <b>@m.Hplus1r</b> @m.MessageHplus1r</font>
                        </strong>
                    </marquee>
                </li>
            </ul>
        }else if(m.Hplus1k != 0 ){
            <ul style="flex:auto; flex-grow:1;" class="navbar-nav">
                <li style="flex:1; " class="nav-item">
                    <marquee class="animate-marquee text-light" style="margin: 0 auto;display-block;font-weight: 700;border-radius:30px;"
                     behavior="scroll" width="100%" direction="right" scrollamount="12">
                        @DateTime.Now.ToString("dddd, dd MMMM yyyy",new System.Globalization.CultureInfo("id-ID")) -
                        <strong>
                            <font color="white">Anda Memiliki <b>@m.Hplus1k</b> @m.MessageHplus1k</font>
                        </strong>
                    </marquee>
                </li>
            </ul>
        }
    }
    <ul class="navbar-nav pl-4  ml-auto">
        <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link">
                <i class="far fa-bell"></i>
                <span data-id="notification-count" class="badge badge-warning navbar-badge"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" data-id="notification-list-container">
                <p class="dropdown-item dropdown-header"><span style="font-weight:bold;" data-id="notification-count-header"></span> Notification</p>
                <div class="dropdown-divivder"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fas fa-user-injured"></i>
                <span>@user.Nama</span>

            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                <a asp-action="Logout" asp-controller="Account" class="nav-link dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>

            </div>
        </li>
    </ul>
</nav>